.content{
    animation: appear 1.5s ease-in;
}

.content span {
    font-size: 1.5em;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50vw;
    white-space: pre-wrap;
    
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}