.time{
   margin-left: 20em;
}


.vertical-timeline p{
  margin-top: 0.5em;
  font-size: 0.4em;
  font-weight: 600;
}

.vertical-timeline{
  margin-top: 10vh;
}

.timeline-item{
 width: 8em;
 margin: 1em;
 border-radius: 10px;
 padding: 0.7rem;
}

.timeline-item h3{
  font-size: 0.8em;
  color: #afafaf;
}

.even {
  /* Styles for even elements */
  
  box-shadow: -2px 2px 2px 0px white;
  float: right;  
  justify-content: left;
  clear: right;
}

.odd {
  /* Styles for odd elements */

  box-shadow: 2px 2px 2px 0px white;
  float: left;
  margin-right: 3em;
  text-align: end;
  clear: left;
}


@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  
}

@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  
}