
.content{
    margin-left: 1em;
    font-size: 3em;
    font-weight: 700;
}

.skill-container{
    margin-top: -1em;
    display:flex;
    flex-wrap:wrap;
    width:90em;
}

.cards{
    margin:3vw;
    border-radius:15px;
    background-color:#0c0c0c;
    box-shadow: 0 3px 3px 0 rgba(224, 224, 224, 0.658);
}