.Menu{
    transition: ease-in;
    margin-top: 5em;
    animation: appear 2s ease-out;
}

.list{
    margin-bottom: 3em;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 800;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}