
.Logo{
    margin-top: 1em;
    display: flex;
    justify-content: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    user-select: none;
    color: #767676;
}

.transition-fade{
  transition: 500ms;

}

.mainWindow{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(61, 57, 57, 0.099)), url("./assets/back.jpg");
  background-size: auto;
  overflow: scroll;
  position: sticky;
  animation: appear 1.2s ease-in;
}

.bar{
  height: 12vh;
    display: flex;
    justify-content: space-between;
}

.menu{
  color: whitesmoke;
  margin-top: 0.5em;
  font-weight: 400;
}

#nav-container {
  position: fixed;
  right: -2.5vw
}